ul.social-network {
  list-style: none;
  padding: 0;
}

ul.social-network li {
  display: inline;
  padding: 5px;
  margin: 0;
  font-size: 40px;
  color: whitesmoke;
}

ul.social-network li i {
  color: mintcream;
}

ul.social-network li i:hover {
  color: lightblue;
  font-size: 50px;
}

.fa-instagram:hover {
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background-clip: text;
  -webkit-text-fill-color: transparent;
}