<div class="container">
    <div class="row d-flex justify-content-center">
<div class="col-md-10 mt-3 mb-3">
    <h1 class="text-center text-secondary">Atualizar Usuario</h1>
    <div class="form-group">
      <label for="nome">Nome</label>
      <input
        [(ngModel)]='User.nome'
        type="text"
        class="form-control"
        name="nome"
        id="nome"
        placeholder="Seu Nome"
      />
    </div>
    <div class="form-group">
      <label for="usuario">Usuário</label>
      <input
        [(ngModel)]='User.user'
        type="text"
        class="form-control"
        name="usuario"
        id="usuario"
        placeholder="Usuario"
      />
    </div>
    <div class="form-group">
      <label for="foto">Foto</label>
      <input
        [(ngModel)]='User.foto'
        type="text"
        class="form-control"
        name="foto"
        id="foto"
        placeholder="Link da Foto"
      />
    </div>
    <div class="form-group">
      <label for="senha">Senha</label>
      <input
        [(ngModel)]='User.senha'
        type="password"
        class="form-control"
        name="senha"
        id="senha"
        placeholder="Senha"
      />
    </div>
    <div class="form-group">
      <label for="confsenha">Confirmar Senha</label>
      <input
        (input)='confirmSenha($event)'
        type="password"
        class="form-control"
        name="confSenha"
        id="confSenha"
        placeholder="Confirme a Senha"
      />
    </div>
    <div class="form-group">
      <label for="Tipo">Tipo de usuario</label>
      <select class="form-control" name="tipo" id="tipo" (change)='tipoUser($event)'>
        <option value="">Selecione um tipo de usuário</option>
        <option value="adm">Administrador</option>
        <option value="normal">Normal</option>
      </select>
    </div>
    <div class="div d-flex justify-content-center">
      <button
        class="btn btn-danger mr-3"
        type="submit"
        routerLink="/inicio"
      >
        Cancelar
      </button>
      <button (click)='atualizar()' class="btn btn-success" type="submit">Atualizar</button>
    </div>
  </div>
</div>
</div>