<div class="container-fluid bg-secondary text-white">
  <div class="row d-flex align-items-center">
    <div class="col-md-6">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6">
          <h1 class="fs-54">Seja Bem vindo!</h1>
          <h5 class="fs-18">Expresse aqui os seus pensamentos</h5>
        </div>
      </div>
      <div class="row d-flex justify-content-center mt-3 mb-5">
        <div class="col-md-6">
          <button
            class="btn btn-light mr-2"
            data-toggle="modal"
            data-target="#NovaPostagem"
          >
            Nova Postagem
          </button>
          <a class="btn btn-outline-light" href="#postagens">Ver Postagem</a>
        </div>
      </div>
    </div>

    <div class="col-md-6 d-flex justify-content">
      <img src="/../../assets/img/blogimg.png" height="500px" width="500px" />
    </div>
  </div>
</div>
<div class="container" id="postagens">
  <nav>
    <div
      class="nav nav-tabs d-flex justify-content-center my-2"
      id="nav-tab"
      role="tablist"
    >
      <a
        class="nav-item nav-link active text-secondary font-weight-bold"
        id="nav-todas-tab"
        data-toggle="tab"
        href="#nav-todas"
        role="tab"
        aria-controls="nav-todas"
        aria-selected="true"
        >Todas as Postagens</a
      >
      <a
        (click)='findByIdUser(); getAllPostagens();'
        class="nav-item nav-link text-secondary font-weight-bold"
        id="nav-minhas-tab"
        data-toggle="tab"
        href="#nav-minhas"
        role="tab"
        aria-controls="nav-minhas"
        aria-selected="false"
        >Minhas Postagens</a
      >
      <a
      (click)='getAllTemas(); getAllPostagens();'
        class="nav-item nav-link text-secondary font-weight-bold"
        id="nav-contato-tab"
        data-toggle="tab"
        href="#nav-contato"
        role="tab"
        aria-controls="nav-contato"
        aria-selected="false"
        >Postagem por Tema</a
      >
    </div>
  </nav>
  <div
    class="tab-content d-flex justify-content-center my-5"
    id="nav-tabContent"
  >
    <div
      class="tab-pane fade show active"
      id="nav-todas"
      role="tabpanel"
      aria-labelledby="nav-todas-tab"
    >
      <div class="card-columns">
        <div
          *ngFor="let i of listaPostagens"
          class="card text-white bg-info mb-3"
        >
          <div class="card-header">
            {{ i.tema.descricao }}, por {{ i.usuario.nome }}
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ i.titulo }}</h5>
            <p class="card-text">{{ i.texto }}</p>
            <p class="card-text">
              <small class="text-white-50"
                >{{ i.data | date: "dd/MM/yyyy" }} às
                {{ i.data | date: "HH:mm" }}</small
              >
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="nav-minhas"
      role="tabpanel"
      aria-labelledby="nav-minhas-tab"
    >
    <div class="card-columns">
      <div
        *ngFor='let i of usuario.post'
        class="card text-white bg-info mb-3"
      >
        <div class="card-header">
          {{ i.tema.descricao }}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ i.titulo }}</h5>
          <p class="card-text">{{ i.texto }}</p>
          <p class="card-text">
            <small class="text-white-50"
              >{{ i.data | date: "dd/MM/yyyy" }} às
              {{ i.data | date: "HH:mm" }}</small
            >
          </p>
        </div>
      </div>
    </div>
    </div>
    <div
      class="tab-pane fade"
      id="nav-contato"
      role="tabpanel"
      aria-labelledby="nav-contato-tab"
    >
    <div *ngFor='let i of listaTemas' class="card-columns my-5">
      <div
        *ngFor='let item of i.post'
        class="card text-white bg-info mb-3 mx-0"
      >
        <div class="card-header">
          {{ i.descricao }}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ item.titulo }}</h5>
          <p class="card-text">{{ item.texto }}</p>
          <p class="card-text">
            <small class="text-white-50"
              >{{ item.data | date: "dd/MM/yyyy" }} às
              {{ item.data | date: "HH:mm" }}</small
            >
          </p>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="NovaPostagem"
  tabindex="-1"
  role="dialog"
  aria-labelledby="TituloModalCentralizado"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">Nova Postagem</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Fechar"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="titulo">Título</label>
          <input
            [(ngModel)]="Postagem.titulo"
            type="text"
            class="form-control"
            id="titulo"
            placeholder="Digite o título"
          />
        </div>
        <div class="form-group">
          <label for="texto">Texto</label>
          <textarea
            [(ngModel)]="Postagem.texto"
            class="form-control"
            id="texto"
            placeholder="Digite o texto"
            rows="3"
          ></textarea>
        </div>
        <div class="form-group">
          <label for="texto"
            >Escolha um tema ou
            <a routerLink="/tema" data-dismiss="modal"
              >cadastre um novo</a
            ></label
          >
          <select
            [(ngModel)]="idTema"
            (change)="findByIdTema()"
            class="form-control"
            id="tema"
          >
            <option *ngFor="let i of listaTemas" [ngValue]="i.id">
              {{ i.descricao }}
            </option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Cancelar
        </button>
        <button
          (click)="publicar(); getAllPostagens()"
          type="button"
          class="btn btn-success"
          data-dismiss="modal"
        >
          Publicar
        </button>
      </div>
    </div>
  </div>
</div>
